<style type="text/css">
  .bar.bar-light .title {
color: #F7F4F4;
}
.bar-light_sd
{
  background: rgb(255, 0, 60) !important;
color: #fff;
}

a
{
  text-decoration: none;
  color: inherit;;
}

.list .item .icon
{
  color:rgb(255, 0, 60);
}
.search_results
{
    height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  margin-top:44px;
  left: 0;
  overflow: hidden;
  background: #fff;
  display:none;
}
</style>

<ion-view view-title="Category listing" hide-nav-bar="true">

 <div class="bar bar-header bar-light bar-light_sd">
 <button ng-click="myGoBack()" class="button button-icon fa fa-angle-left" style="color:#fff;">
  </button>
  <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon" style="color:#fff;"></button>
  <h1 class="title">Zoom City</h1>
  </div>

  <div class="bar bar-subheader item-input-inset" style="background:#C3C3C3;">
  <label class="item-input-wrapper" style="background:#fff;border-radius:30px;">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input ng-model="searchText.name" ng-keyup="customFilter(searchText.name,'entlist_display')" type="search" placeholder="Search">
  </label>
</div>

<div id='entlist_display' class="search_results"></div>
  <ion-content  class="has-subheader">

    <ul class="list">
      <div class="item item-divider" style="color: rgb(255, 0, 60);font-weight: 600;font-size:18px;">
        <b> {{CatGridNm}} </b>- {{CatListNm}}
      </div>
      <a ng-repeat="entity in entListing" class="item item-icon-right" href="#/app/additional_info/{{entity.id}}/{{entity.name}}">{{entity.name}}<i class="icon fa fa-angle-right" ></i></a>
    </ul>

  </ion-content>

</ion-view>
